<!DOCTYPE html>
<html lang="en">
  
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Geek Blog Community</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  {% load static %}
  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/main.css' %}" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->


  <header id="header" class="header d-flex align-items-center">

    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
      <a href="http://127.0.0.1:8000" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="{% static 'assets/img/logo.png" alt=""> -->
        <h1>GeekBlog<span>.</span></h1>
      </a>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="#hero">Home</a></li>
          <li><a href="/blog">Browse</a></li>
          <li><a href="/search">Search</a></li>
          <li><a href="/login">Login</a></li>
        </ul>
      </nav><!-- .navbar -->

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

    </div>
  </header><!-- End Header -->
  <!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero">
    <div class="container position-relative">
      <div class="row gy-5" data-aos="fade-in">
        <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center text-center text-lg-start">
          <h2>Welcome to <span>GeekBlog</span></h2>
          <p>We are a Geek Blog Community, where tech enthusiasts, coding wizards, and pop culture aficionados come together to share their insights, discoveries, and geeky passions.</p>
          <div class="d-flex justify-content-center justify-content-lg-start">
            <a href="/login" class="btn-get-started">Get Started</a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2">
          <img src="{% static 'assets/img/hero-img.svg' %}" class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="100">
        </div>
      </div>
    </div>

    <div class="icon-boxes position-relative">
      <div class="container position-relative">
        <div class="row gy-4 mt-5">

          <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-easel"></i></div>
              <h4 class="title"><a href="" class="stretched-link">Markdown-powered</a></h4>
            </div>
          </div><!--End Icon Box -->

          <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-gem"></i></div>
              <h4 class="title"><a href="" class="stretched-link">Writer-centric</a></h4>
            </div>
          </div><!--End Icon Box -->

          <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-geo-alt"></i></div>
              <h4 class="title"><a href="" class="stretched-link">Reader-friendly</a></h4>
            </div>
          </div><!--End Icon Box -->

          <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="500">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-command"></i></div>
              <h4 class="title"><a href="" class="stretched-link">Engage</a></h4>
            </div>
          </div><!--End Icon Box -->

        </div>
      </div>
    </div>

    </div>
  </section>
  <!-- End Hero Section -->

  <main id="main">

    <!-- ======= Recent Blog Posts Section ======= -->
    <section id="recent-posts" class="recent-posts sections-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Recent Blog Posts</h2>
          <p>Here keep paces with the latest.</p>
        </div>

        <div class="row gy-4">

          <div class="col-xl-4 col-md-6">
            <article>
              <p class="post-category">{{ recent.0.category }}</p>

              <h2 class="title">
                <a href="blog/{{ recent.0.id }}">{{ recent.0.title }}</a>
              </h2>

              <div class="d-flex align-items-center">
                <img src="/cache/{{ recent.0.img }}" alt="" class="img-fluid post-author-img flex-shrink-0">
                <div class="post-meta">
                  <p class="post-author">{{ recent.0.username }}</p>
                  <p class="post-date">
                    <time datetime="2022-01-01">{{ recent.0.post_date }}</time>
                  </p>
                </div>
              </div>
              <br>
              <p class="post-sum">{{ recent.0.summary }}</p>

            </article>
          </div><!-- End post list item -->

          <div class="col-xl-4 col-md-6">
            <article>

              <p class="post-category">{{ recent.1.category }}</p>

              <h2 class="title">
                <a href="blog/{{ recent.1.id }}">{{ recent.1.title }}</a>
              </h2>

              <div class="d-flex align-items-center">
                <img src="/cache/{{ recent.1.img }}" alt="" class="img-fluid post-author-img flex-shrink-0">
                <div class="post-meta">
                  <p class="post-author">{{ recent.1.username }}</p>
                  <p class="post-date">
                    <time datetime="2022-01-01">{{ recent.1.post_date }}</time>
                  </p>
                </div>
              </div>
              <br>
              <p class="post-sum">{{ recent.1.summary }}</p>

            </article>
          </div><!-- End post list item -->

          <div class="col-xl-4 col-md-6">
            <article>

              <p class="post-category">{{ recent.2.category }}</p>

              <h2 class="title">
                <a href="blog/{{ recent.2.id }}">{{ recent.2.title }}</a>
              </h2>

              <div class="d-flex align-items-center">
                <img src="/cache/{{ recent.2.img }}" alt="" class="img-fluid post-author-img flex-shrink-0">
                <div class="post-meta">
                  <p class="post-author">{{ recent.2.username }}</p>
                  <p class="post-date">
                    <time datetime="2022-01-01">{{ recent.2.post_date }}</time>
                  </p>
                </div>
              </div>
              <br>
              <p class="post-sum">{{ recent.0.summary }}</p>

            </article>
          </div><!-- End post list item -->

        </div><!-- End recent posts list -->
        
      </div>
    </section><!-- End Recent Blog Posts Section -->


    <!-- ======= Trending Blog Posts Section ======= -->
    <section id="recent-posts" class="recent-posts sections-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Trending Blog Posts</h2>
          <p>Get inspirations from the most popular.</p>
        </div>
        <div class="row gy-4">

          <div class="col-xl-4 col-md-6">
            <article>

              <p class="post-category">{{ trend.0.category }}</p>

              <h2 class="title">
                <a href="blog/{{ trend.0.id }}">{{ trend.0.title }}</a>
              </h2>

              <div class="d-flex align-items-center">
                <img src="/cache/{{ trend.0.img }}" alt="" class="img-fluid post-author-img flex-shrink-0">
                <div class="post-meta">
                  <p class="post-author">{{ trend.0.username }}</p>
                  <p class="post-date">
                    <time datetime="2022-01-01">{{ trend.0.post_date }}</time>
                  </p>
                </div>
              </div>
              <br>
              <p class="post-sum">{{ trend.0.summary }}</p>

            </article>
          </div><!-- End post list item -->

          <div class="col-xl-4 col-md-6">
            <article>

              <p class="post-category">{{ trend.1.category }}</p>

              <h2 class="title">
                <a href="blog/{{ trend.1.id }}">{{ trend.1.title }}</a>
              </h2>

              <div class="d-flex align-items-center">
                <img src="/cache/{{ trend.1.img }}" alt="" class="img-fluid post-author-img flex-shrink-0">
                <div class="post-meta">
                  <p class="post-author">{{ trend.1.username }}</p>
                  <p class="post-date">
                    <time datetime="2022-01-01">{{ trend.1.post_date }}</time>
                  </p>
                </div>
              </div>
              <br>
              <p class="post-sum">{{ trend.1.summary }}</p>

            </article>
          </div><!-- End post list item -->

          <div class="col-xl-4 col-md-6">
            <article>

              <p class="post-category">{{ trend.2.category }}</p>

              <h2 class="title">
                <a href="blog/{{ trend.2.id }}">{{ trend.2.title }}</a>
              </h2>

              <div class="d-flex align-items-center">
                <img src="/cache/{{ trend.2.img }}" alt="" class="img-fluid post-author-img flex-shrink-0">
                <div class="post-meta">
                  <p class="post-author">{{ trend.2.username }}</p>
                  <p class="post-date">
                    <time datetime="2022-01-01">{{ trend.2.post_date }}</time>
                  </p>
                </div>
              </div>
              <br>
              <p class="post-sum">{{ trend.0.summary }}</p>

            </article>
          </div><!-- End post list item -->

        </div><!-- End recent posts list -->


      </div>
    </section><!-- End Recent Blog Posts Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-info">
          <a href="http://127.0.0.1:8000" class="logo d-flex align-items-center">
            <span>GeekBlog</span>
          </a>
          <p>Welcome to join us.</p>
          <div class="social-links d-flex mt-4">
            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><a href="#hero">Home</a></li>
            <li><a href="#">Terms of service</a></li>
            <li><a href="#">Privacy policy</a></li>
          </ul>
        </div>



        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
          <h4>Contact Us</h4>
          <p>
            <strong>Email:</strong> contact@geekblog.com<br>
          </p>

        </div>

      </div>
    </div>

    <div class="container mt-4">
      <div class="copyright">
        &copy; Copyright <strong><span>GeekBlog</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/impact-bootstrap-business-website-template/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>

  </footer><!-- End Footer -->
  <!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}" ></script>
  <script src="{% static 'assets/vendor/aos/aos.js' %}" ></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}" ></script>
  <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}" ></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}" ></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}" ></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}" ></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}" ></script>

</body>

</html>